{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Configuration page</h1>

    <p>
        <img src="https://picsum.photos/200/300">
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id mollis lacus. Nulla laoreet urna sed efficitur congue. Curabitur et lacus at neque aliquet consequat. Quisque sagittis vulputate mi sed tincidunt. Ut non congue erat. Etiam suscipit sodales purus sit amet vehicula. Donec hendrerit sollicitudin neque, venenatis sagittis metus placerat et. Nullam nunc urna, sagittis sit amet euismod at, ullamcorper maximus sapien. Sed eros tellus, molestie ut massa a, luctus commodo diam. Nam sem dolor, suscipit vitae tortor in, semper blandit nunc. Etiam nec metus id orci pretium blandit.
    </p>

{% endblock %}